header {
    height: 14rem;

    & .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: var(--color-primario);
        position: relative;
        height: 6rem;
        top: 4rem;

        & .navbar__logo-img {
            width: 12rem;
            background-color: white;
            border-radius: 50%;
            border: 1px dashed black;
        }

        & .navbar__list_container {
            display: none;
            gap: 3rem;

            & .navbar__list-items {
                font-family: var(--letra-principal);
                font-size: var(--letra-grande);
                padding: 1rem;
                color: black;
            }

            & .navbar__list-items:hover {
                background-color: var(--color-secundario);
                border-radius: 0.6rem;
            }
        }

        & .navbar__users_elements {
            display: flex;
            align-items: center;
            gap: 1rem;

            & .navbar__desktop_menu {
                display: none;
            }

            & .navbar__hamburguesa_check {
                display: none;
            }
        }
    }
}

@media (min-width:768px) {
    header {
        height: 14rem;
    
        & .navbar {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: var(--color-primario);
            position: relative;
            height: 6rem;
            top: 4rem;
    
            & .navbar__logo-img {
                width: 15rem;
                background-color: white;
                border-radius: 50%;
                border: 1px dashed var(--color-inputs);
            }
    
            & .navbar__list_container {
                display: flex;
                gap: 3rem;
    
                & .navbar__list-items {
                    font-family: var(--letra-principal);
                    font-size: var(--letra-grande);
                    padding: 1rem;
                    color: black;
                }
    
                & .navbar__list-items:hover {
                    background-color: var(--color-secundario);
                    border-radius: 0.6rem;
           
                }
            }
    
            & .navbar__users_elements {
                display: flex;
                align-items: center;
                gap: 1rem;

                & .navbar__mobile_menu {
                    display: none;
                }

                & .navbar__desktop_menu {
                    display: block;
                }
            }
        }   
    }
}