@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color-primario: #F8B0A1;
    --color-secundario: #EDE0D7;
    --color-terciario: #F8B0A1;
    --color-inputs: #4E383A;
    --color-fondo: #e1bcb4;
    --letra-principal: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --letra-secundaria: 'lato', arial;
    --letra-chica: 1.4rem;
    --letra-mediana: 1.6rem;
    --letra-grande: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

.buttons {
    padding: 1rem;
    background-color: var(--color-inputs);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-family: var(--letra-principal);
}

.buttons:hover {
    cursor: pointer;
}

.whatsapp {
    width: 72px;
    position: fixed;
    right: 2%;
    bottom: 5.5rem;
    transition: all 0.3s;
}

.whatsapp:hover {
    transition: all 0.3s;
    width: 96px;
}

iframe {
    display: none;
}

header {
    height: 14rem;

    & .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: var(--color-primario);
        position: relative;
        height: 6rem;
        top: 4rem;

        & .navbar__logo-img {
            width: 12rem;
            background-color: white;
            border-radius: 50%;
            border: 1px dashed black;
        }

        & .navbar__list_container {
            display: none;
            gap: 3rem;

            & .navbar__list-items {
                font-family: var(--letra-principal);
                font-size: var(--letra-grande);
                padding: 1rem;
                color: black;
            }

            & .navbar__list-items:hover {
                background-color: var(--color-secundario);
                border-radius: 0.6rem;
            }
        }

        & .navbar__users_elements {
            display: flex;
            align-items: center;
            gap: 1rem;

            & .navbar__desktop_menu {
                display: none;
            }

            & .navbar__hamburguesa_check {
                display: none;
            }
        }
    }
}

footer {
    margin-top: 6rem;
    background-color: var(--color-primario);

    & .footer__contacto {
        display: flex;
        align-items: center;

        & iframe {
            margin: 1rem;
        }
    }

    & .footer__contacto_info {
        display: flex;
        align-items: center;
        margin: 2rem 0 2rem 3rem;

        & p {
            margin: 1rem 2rem;
            font-size: var(--letra-chica);
            font-family: var(--letra-secundaria);
        }
    }

    & .footer__social {
        font-size: var(--letra-chica);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
    }
}

@media (min-width:768px) {
    header {
        height: 14rem;

        & .navbar {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: var(--color-primario);
            position: relative;
            height: 6rem;
            top: 4rem;

            & .navbar__logo-img {
                width: 15rem;
                background-color: white;
                border-radius: 50%;
                border: 1px dashed var(--color-inputs);
            }

            & .navbar__list_container {
                display: flex;
                gap: 3rem;

                & .navbar__list-items {
                    font-family: var(--letra-principal);
                    font-size: var(--letra-grande);
                    padding: 1rem;
                    color: black;
                }

                & .navbar__list-items:hover {
                    background-color: var(--color-secundario);
                    border-radius: 0.6rem;

                }
            }

            & .navbar__users_elements {
                display: flex;
                align-items: center;
                gap: 1rem;

                & .navbar__mobile_menu {
                    display: none;
                }

                & .navbar__desktop_menu {
                    display: block;
                }
            }
        }
    }

    footer div {
        width: 90%;
        margin: 0 auto;

        & & .footer__contacto_info p {
            margin-left: 1.5rem;
        }
    }

    & .footer__social {
        width: 20%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        & p {
            text-align: center;
            width: 100%;
        }
    }

    iframe {
        display: block;
    }
}