@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color-primario: #F8B0A1;
    --color-secundario: #EDE0D7;
    --color-terciario: #F8B0A1;
    --color-inputs: #4E383A;
    --color-fondo: #e1bcb4;
    --letra-principal: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --letra-secundaria: 'lato', arial; 
    --letra-chica: 1.4rem;
    --letra-mediana:1.6rem;
    --letra-grande: 2rem;
}

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a, li {
    text-decoration: none;
    list-style: none;
}

.buttons {
    padding: 1rem;
    background-color: var(--color-inputs);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-family: var(--letra-principal);

}

.whatsapp {
    width: 72px;
    position: fixed;
    right: 2%;
    bottom: 5.5rem;
    transition: all 0.3s;
  }
  
  .whatsapp:hover {
    transition: all 0.3s;
    width: 96px;
  }
  
iframe {
    display: none;
}

@media (min-width:768px) {
}