@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-primario: #F8B0A1;
    --color-secundario: #EDE0D7;
    --color-terciario: #F8B0A1;
    --color-inputs: #4E383A;
    --color-fondo: #e1bcb4;
    --letra-principal: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --letra-secundaria: 'lato', arial; 
    --letra-terciaria: 'Lobster Two', sans-serif;
    --letra-chica: 1.4rem;
    --letra-mediana:1.6rem;
    --letra-grande: 2rem;
    --letra-xxl: 3.5rem;
}

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* background: linear-gradient(135deg, #f4eded, #e1f4f3, #e9eef1); */
    background: linear-gradient(135deg, #f4eded, #c2c2c2, #e9eef1);
}

a, li {
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: var(--letra-xxl);
    font-weight: bold;
    margin-bottom: 2rem;
}

.buttons {
    padding: 1rem;
    background-color: var(--color-inputs);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-family: var(--letra-principal);
    font-size: 1.5rem;
}
.buttons:hover {
    cursor: pointer;
}

.imfondo{
    display: block;
    width: 80%;
    margin: 0 auto;
}

.titulos {
    font-size:3.5rem;
    font-family: var(--letra-principal);
    text-align: center;
    margin: 2rem 0;
}

.whatsapp {
    width: 72px;
    position: fixed;
    right: 2%;
    bottom: 5.5rem;
    transition: all 0.3s;
  }
  
  .whatsapp:hover {
    transition: all 0.3s;
    width: 96px;
  }
  
iframe {
    display: none;
}

header {
    height: 14rem;
}

.login-button {
    display: none;
    margin-left: 1rem;
}

.navbar {
    background-color: var(--color-primario);
    height: 6rem;
    position: relative;
    top: 4rem;
}

.container-fluid {
    width: 90%;
    position: relative;
    bottom: 4rem;
}

.navbar__logo {
    width: 12rem;
    background-color: white;
    border-radius: 50%;
    border: 1px dashed black;
}

.navbar-toggler {
    border: none;
    font-size: var(--letra-chica);
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    font-family: var(--letra-principal);
    font-size: var(--letra-mediana);
    padding: 1rem;
    color: black;
}

 .nav-link:active, .nav-link:hover {
    background-color: var(--color-secundario);
    border-radius: 0.6rem;
}

.dropdown-menu {
    border: 0;
    font-size: var(--letra-chica);
    width: 13.5rem;
    margin-left: 5rem;
}

.dropdown-item {
    margin-bottom: 0.5rem;
}


footer {
    margin-top: 6rem;
    background-color: var(--color-primario);

    & .footer__contacto {
        display: flex;
        align-items: center;

        & iframe {
            margin: 1rem;
        }
    }

    & .footer__contacto_info {
        display: flex;
        align-items: center;
        margin: 2rem 0 2rem 3rem;

        & p {
            margin: 1rem 2rem;
            font-size: var(--letra-chica);
            font-family: var(--letra-secundaria);
        }
    }

    & .footer__social {
        font-size: var(--letra-chica);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
    }
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 40%;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.carousel img {
    width: 10%;
    height: 10%;
    object-fit: cover;
    opacity: 0;
    animation: fade 9s infinite;
}

.carousel img:nth-child(1) {
    animation-delay: 0s;
}

.carousel img:nth-child(2) {
    animation-delay: 3s;
}

.carousel img:nth-child(3) {
    animation-delay: 6s;
}

.a {
    margin: 2rem 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    38% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.carousel-caption {
    
    bottom: 20px;
    left: 20px;
    color: white;
    padding: 10px;
    background: --color-inputs;
    border-radius: 5px;
    font-size: 14px;
}

.about-us, .welcome-text, .what-we-do, .testimonials {
    padding: 0 1rem;
    text-align: justify;
}

@media (min-width:992px) {
    .login-button {
        display: inline;
    }

    .login-mobile {
        display: none;
    }

    .navbar{
        position: relative;
        top: 4rem;
    }

    .nav-link {
        font-size: var(--letra-grande);
    }

    .container-fluid {
        position: static;
    }

    .dropdown-menu {
        left: 20rem;
        background-color: var(--color-primario);
        border: 0;
        font-size: var(--letra-chica);
        width: auto;
        margin-left: 0;
    }

    footer div {
        width: 90%;
        margin: 0 auto;

        & 

        & .footer__contacto_info p {
            margin-left: 1.5rem;
            }
        }

        & .footer__social {
            width: 20%;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;

            & p {
                text-align: center;
                width: 100%;
            }
        }

        iframe {
            display: block;
        }
        .welcome-text {
            text-align: center;
            margin: 20px 0;
            font-size: var(--letra-grande);
            color: var(--color-inputs);
            padding: 10px;
        }
        
        .about-us, .what-we-do, .testimonials {
            margin: 20px;
            padding: 20px;
            background-color: var(--color-primario);
            border-radius: 10px;
            text-align: left;
            margin: 1rem;
            font-size: var(--letra-mediana);
        }
        
        .about-us h2, .what-we-do h2{
            color: var(--color-inputs);
            font-size: var(--letra-grande);
            font-weight: bold;
            margin-bottom: 2rem;
        }

        .plus {
            width: auto;
        }

        .boton-container {
            background-color: #9bacbb;
            width: 100%;
        }

        .buttons-addProduct {
            font-size: 12px;
            color: black;
            background-color: #9bacbb;
            margin-left: 23px;
            padding: 0 12px;
        }

        .buttons-addProduct:hover {
            background-color: var(--color-primario);
            border-color: white;
        }

        .table_container {
            width: 80%;
            margin: auto;
        }

        .tr, .td {
            font-size: 12px;
            
        }

        table {
            background-color: aqua;
        }

        .table {
            background-color: rgba(255, 255, 255, 0.274) !important ;
        }

        .table_container td, .table_container tr {
            text-align: center;
            vertical-align: middle;
        }

        .table_container button {
            margin: 1rem;
        }

        /* .area-table {
            border: #4E383A 1px solid;
        } */
}